.image {
    margin: 25px 25px;
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;

    &:hover {
        box-shadow: inset 4px 0 0 #dadce0, inset -4px 0 0 #dadce0, 0 3px 5px 0 rgba(60,64,67,.3), 0 4px 6px 4px rgba(60,64,67,.15);
        z-index: 2;
    }
}